WCFServices/WSDL/www.hulisoft.com.RFIDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.hulisoft.com/RFIDService" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.hulisoft.com/RFIDService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.hulisoft.com/RFIDService/Imports">
      <xsd:import namespace="http://www.hulisoft.com/RFIDService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://www.hulisoft.com/RFIDServiceData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRFIDService_writeTag_InputMessage">
    <wsdl:part name="parameters" element="tns:writeTag" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_writeTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:writeTagResponse" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_WriteLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_WriteLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_readTag_InputMessage">
    <wsdl:part name="parameters" element="tns:readTag" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_readTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:readTagResponse" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_getModuleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getModuleInfo" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_getModuleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getModuleInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRFIDService">
    <wsdl:operation name="writeTag">
      <wsdl:input wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/writeTag" message="tns:IRFIDService_writeTag_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/writeTagResponse" message="tns:IRFIDService_writeTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/WriteLog" message="tns:IRFIDService_WriteLog_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/WriteLogResponse" message="tns:IRFIDService_WriteLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="readTag">
      <wsdl:input wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/readTag" message="tns:IRFIDService_readTag_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/readTagResponse" message="tns:IRFIDService_readTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getModuleInfo">
      <wsdl:input wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/getModuleInfo" message="tns:IRFIDService_getModuleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.hulisoft.com/RFIDService/IRFIDService/getModuleInfoResponse" message="tns:IRFIDService_getModuleInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IRFIDService" type="tns:IRFIDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeTag">
      <soap:operation soapAction="http://www.hulisoft.com/RFIDService/IRFIDService/writeTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <soap:operation soapAction="http://www.hulisoft.com/RFIDService/IRFIDService/WriteLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readTag">
      <soap:operation soapAction="http://www.hulisoft.com/RFIDService/IRFIDService/readTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModuleInfo">
      <soap:operation soapAction="http://www.hulisoft.com/RFIDService/IRFIDService/getModuleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>